<section class="card">
    <h3>String Pipes</h3>
    <div>{{str}}</div>
    <div>{{str|lowercase}}</div>
    <div>{{str|uppercase}}</div>
    <div>{{str|titlecase}}</div>
</section>

<section class="card">
    <h3>Number Pipe</h3>
    <div>{{num}}</div>
    <div>{{num|number:'6.0-0'}}</div>
    <div>{{num|number:'6.1-2'}}</div>
</section>

<section class="card">
    <h3>Currency Pipe</h3>
    <div>{{num}}</div>
    <div>{{num|currency:'INR'}}</div>
    <div>{{num|currency:'USD'}}</div>
    <div>{{num|currency:'GBP'}}</div>
    <div>{{num|currency:'AUD'}}</div>
    <div>{{num|currency:'JPY'}}</div>
    <div>{{num|currency:'ABC'}}</div>
</section>

<section class="card">
    <h3>Date Pipe</h3>
    <div>{{dt}}</div>
    <div>{{dt|date:'short'}}</div>
    <div>{{dt|date:'long'}}</div>
    <div>{{dt|date:'dd'}}</div>
    <div>{{dt|date:'MM'}}</div>
    <div>{{dt|date:'MMM'}}</div>
    <div>{{dt|date:'MMMM'}}</div>
    <div>{{dt|date:'dd-MM-yy'}}</div>
    <div>{{dt|date:'dd-MMM-yyyy'}}</div>
    <div>{{dt|date:'dd-MMM-yyyy hh:mm:ss aa'}}</div>
    <div>{{dt|date:'dd-MMM-yyyy HH:mm:ss'}}</div>
</section>