<section class="col-sm-6 mx-auto border border-primary p-4">
    <h3>Departments</h3>

    <div class="row border-bottom border-danger fw-bold text-center p-2">
        <div class="col-1">Dept#</div>
        <div class="col">Title</div>
        <div class="col-3">Actions</div>
    </div>

    <app-dept-form [save]="add"></app-dept-form>

    <ng-container *ngFor="let d of depts">
        <ng-container *ngIf="d.editable then deptForm; else deptRow">
        </ng-container>

        <ng-template #deptRow>
            <app-dept-row [dept]="d" [del]="del" [edit]="markEditable"></app-dept-row>
        </ng-template>

        <ng-template #deptForm>
            <app-dept-form [dept]="d" [save]="upd" [cancelEdit]="unMarkEditable"></app-dept-form>
        </ng-template>

    </ng-container>

</section>