<section class="border border-info border-top-0 p-2">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Emp#</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Mail Id</th>
                <th>DoJ</th>
                <th>Dept</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of emps">
                <td class="text-end">{{e.id}}</td>
                <td>{{e.fullName}}</td>
                <td class="text-end">{{e.salary|currency:'INR'}}</td>
                <td>{{e.mailId}}</td>
                <td>{{e.dateOfJoing|date:'dd-MMM-yy'}}</td>
                <td>{{e.deptId|deptTitle}}</td>
                <td>
                    <a class="btn btn-sm btn-secondary" [routerLink]="['/emps','edit',e.id]" >EDIT</a>
                    <button type="button" class="btn btn-sm btn-danger m-1" (click)="del(e.id)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>

</section>