<section class="card">
    <h3>Arithemtic Operations</h3>

    <form>
        <div> <label>Operand1: <input type="number" name="textbox1" [(ngModel)]="n1" /></label> </div>
        <div> <label>Operand2: <input type="number" name="textbox2" [(ngModel)]="n2" /></label> </div>
    </form>

    <p> Sum of {{n1}} and {{n2}} is {{n1+n2}} </p>
    <p> Difference of {{n1}} and {{n2}} is {{n1-n2}} </p>
    <p> Product of {{n1}} and {{n2}} is {{n1*n2}} </p>
    <p> Quitiont of {{n1}} and {{n2}} is {{n1/n2}} </p>
    <p> Reminder of {{n1}} and {{n2}} is {{n1%n2}} </p>
</section>